[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "stemlib"]
	path = stemlib
	url = https://github.com/ret2pop/stemlib
